$font-family: sans-serif;

$secondary-bg: rgba(31, 36, 40, 1);
$notification-bg: #121212;

$background-color: rgb(1, 4, 9);
$primary-color: rgb(22, 27, 34);

$color-bg-card: #0d1117;
$color-bg-card-hover: #161B22;

$quaternary-color: #bdc7db;
$border-color: #21262d;

$color-header-text: #f0f6fc;
$color-fg-default: #c9d1d9;
$color-fg-muted: #8b949e;

$accent-color: #58a6ff;
$color-error-fg: #f85149;
$color-error-emphasis: #da3633;


@keyframes progress-bar {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@font-face {
    font-family: 'DMSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DMSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'DMSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DMSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'DMSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DMSans-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DMSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DMSans-Bold.ttf');
    font-weight: 700;
}