@-webkit-keyframes progress-bar {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@font-face {
  font-family: "DMSans";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DMSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "DMSans";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DMSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "DMSans";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DMSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "DMSans";
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DMSans-Bold.ttf");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8b949e;
}

:root {
  font-size: 16px;
}

body {
  height: 500px;
  width: 325px;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgb(1, 4, 9);
  color: #c9d1d9;
  border: 1px solid #21262d;
}
body header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 4.5em;
  color: #f0f6fc;
  background-color: rgb(22, 27, 34);
  border-bottom: 1px solid #21262d;
}
body header #title-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
body header #title-container #title-text {
  font-size: 1.5em;
  font-weight: 600;
}
body header #settings-container {
  display: flex;
}
body header #settings-container #settings-button {
  display: flex;
  opacity: 0.5;
  transition: 250ms ease;
  cursor: pointer;
}
body header #settings-container #settings-button:hover {
  opacity: 1;
}
body header #settings-container #settings-menu {
  display: none;
  position: absolute;
  top: calc(4.5em - 2px);
  right: 0;
  height: 5em;
  width: 100%;
  padding: 0.5em 1em;
  background-color: rgba(18, 18, 18, 0.7);
  border: 2px solid #58a6ff;
  border-width: 2px 0 2px 0;
  z-index: 1;
}
body header #settings-container #settings-menu.active {
  display: block;
}
body header #settings-container #settings-menu .settings-menu-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 0;
  cursor: pointer;
}
body main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4.5em);
  padding: 1em;
  overflow: hidden;
  background-color: rgb(1, 4, 9);
}
body main #clipboard-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
  padding: 0 0.25em;
}
body main #clipboard-toolbar #searchbar {
  flex: 1;
  height: 2em;
  padding: 0 0.5em;
  border: 1px solid #21262d;
  border-radius: 2px;
  font-size: 0.9rem;
  background-color: transparent;
  color: #c9d1d9;
}
body main #clipboard-toolbar #searchbar:focus {
  outline: none;
  color: #8b949e;
}
body main #clipboard-toolbar #clear-clipboard-button {
  position: relative;
  display: flex;
  opacity: 0.5;
  transition: 250ms ease;
  font-size: 1.2rem;
  cursor: pointer;
}
body main #clipboard-toolbar #clear-clipboard-button:hover {
  opacity: 1;
}
body main #clipboard-toolbar #clear-clipboard-button:hover:after {
  content: "Clear Clipboard";
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, 0);
  padding: 0.5em;
  background-color: #161B22;
  border-radius: 2px;
  font-size: 0.75em;
  white-space: nowrap;
  z-index: 1;
}
body main #clipboard-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
}
body main #clipboard-container .item-container {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  margin: 0 0.25em;
  border: 1px solid #21262d;
  border-radius: 1px;
  background-color: #0d1117;
  cursor: pointer;
}
body main #clipboard-container .item-container:hover {
  background-color: #161B22;
}
body main #clipboard-container .item-container:hover .item-text {
  color: #58a6ff;
  text-decoration: underline;
}
body main #clipboard-container .item-container .item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
body main #clipboard-container .item-container .item-content .item-text {
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body main #clipboard-container .item-container .item-content .item-date {
  font-size: 0.75rem;
  font-style: italic;
  color: #8b949e;
}
body main #clipboard-container .item-container .item-actions {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
body main #clipboard-container .item-container .item-actions .item-action {
  opacity: 0.5;
  transition: 250ms ease;
  cursor: pointer;
}
body main #clipboard-container .item-container .item-actions .item-action:hover {
  opacity: 1;
}/*# sourceMappingURL=popup.css.map */