@import 'globals';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: $color-fg-muted;
}

:root {
    font-size: 16px;
}

body {
    height: 500px;
    width: 325px;
    font-family: $font-family;
    line-height: 1.5;
    background-color: $color-bg-default;
    color: $color-fg-default;
    border: 1px solid $color-border-default;

    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        height: 4.5em;
        color: $color-header-text;
        background-color: $color-bg-secondary;
        border-bottom: 1px solid $color-border-default;

        #title-container {
            display: flex;
            align-items: flex-start;
            gap: .5em;

            #logo-container {
                &.disabled {
                    filter: grayscale(100%) opacity(50%);
                }
            }

            #title-text {
                font-size: 1.5em;
                font-weight: 600;
            }
        }

        #settings-container {
            display: flex;

            #toggle-button {
                // TODO: Switch ?
                padding: 0.25em 0.5em;
                background-color: transparent;
                border: 1px solid  $color-border-default;
                border-radius: 2px;
                color: $color-fg-muted;
                cursor: pointer;

                &.off {
                    color: $color-accent;
                }
            }

            #settings-button {
                display: flex;
                opacity: .5;
                transition: 250ms ease;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }

            #settings-menu {
                display: none;
                position: absolute;
                top: calc(4.5em - 2px);
                right: 0;
                height: 5em;
                width: 100%;
                padding: .5em 1em;
                background-color: rgba(18, 18, 18, 0.7);
                border: 2px solid $color-accent;
                border-width: 2px 0 2px 0;
                z-index: 1;

                &.active {
                    display: block;
                }

                .settings-menu-item {
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    padding: .5em 0;
                    cursor: pointer;

                }
            }
        }
    }

    main {
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100% - 4.5em);
        padding: 1em;
        overflow: hidden;

        #disabled-layer {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $color-bg-disabled;
            z-index: 1;

            &.active {
                display: flex;
            }

            p {
                font-size: 1rem;
                color: $color-fg-muted;
                text-align: center;
            }
        }

        #clipboard-toolbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            margin-bottom: 1em;
            padding: 0 .25em;

            #searchbar {
                flex: 1;
                height: 2em;
                padding: 0 .5em;
                border: 1px solid  $color-border-default;
                border-radius: 2px;
                font-size: 0.9rem;
                background-color: transparent;
                color: $color-fg-default;

                &:focus {
                    outline: none;
                    color: $color-fg-muted;
                }
            }

            #clear-clipboard-button {
                position: relative;
                display: flex;
                opacity: .5;
                transition: 250ms ease;
                font-size: 1.2rem;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }

        #clipboard-container {
            display: flex;
            flex-direction: column;
            gap: 1em;
            overflow-y: auto;

            .item-container {
                display: flex;
                gap: .5em;
                padding: .5em;
                margin: 0 .25em;
                border: 1px solid  $color-border-default;
                border-radius: 1px;
                background-color: $color-bg-card;
                cursor: pointer;

                &:hover {
                    background-color: $color-bg-secondary;

                    .item-text {
                        color: $color-accent;
                        text-decoration: underline;
                    }
                }

                .item-content {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    overflow: hidden;

                    .item-text {
                        width: 100%;
                        font-size: 1rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .item-date {
                        font-size: .75rem;
                        font-style: italic;
                        color: $color-fg-muted;
                    }
                }

                .item-actions {
                    display: flex;
                    align-items: center;
                    gap: .5em;

                    .item-action {
                        opacity: .5;
                        transition: 250ms ease;
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}